<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1 th:text="'Order for ' + ${order.name}">Order for Customer</h1>
<h2>Status: <span th:text="${order.status}">Status</span></h2>
<ul>
    <th:block th:each="dish : ${order.dishes}">
        <li th:text="${dish.name} + ' - ' + ${dish.price} + ' $'">Dish Name - Price</li>
    </th:block>
</ul>
<button onclick="window.location.href='/orders'">Back</button>
</body>
</html>
